In [1]:
CREATE DATABASE uprak_riyan_darmawan;

In [2]:
USE uprak_riyan_darmawan;

In [3]:
CREATE TABLE jurusan(
    id INT PRIMARY KEY AUTO_INCREMENT,
    kode_jurusan VARCHAR(10),
    deskripsi VARCHAR(50)
);

In [4]:
CREATE TABLE kelas(
    id INT PRIMARY KEY AUTO_INCREMENT,
    kode_kelas VARCHAR(10),
    tingkat ENUM('10','11','12'),
    jurusan_id INT,
    FOREIGN KEY (jurusan_id) REFERENCES jurusan(id)
);

In [14]:
CREATE TABLE spp(
    id INT PRIMARY KEY AUTO_INCREMENT,
    tahun YEAR,
    nominal BIGINT
);

In [15]:
CREATE TABLE siswa(
    nis BIGINT PRIMARY KEY,
    nama_lengkap VARCHAR(50),
    tanggal_lahir DATE,
    jenis_kelamin ENUM('l', 'p'),
    alamat VARCHAR(100),
    no_hp VARCHAR(13),
    kelas_id INT,
    spp_id INT,
    FOREIGN KEY (kelas_id) REFERENCES kelas(id),
    FOREIGN KEY (spp_id) REFERENCES spp(id)
);

In [7]:
CREATE TABLE admin(
    id INT PRIMARY KEY AUTO_INCREMENT,
    nama_lengkap VARCHAR(50),
    alamat VARCHAR(100),
    no_hp VARCHAR(13),
    username VARCHAR(50),
    password VARCHAR(255)
);

In [8]:
CREATE TABLE pembayaran(
    no_transaksi VARCHAR(20) PRIMARY KEY,
    tanggal DATE,
    nis BIGINT,
    bulan_tagihan INT,
    tahun_tagihan YEAR,
    admin_id INT,
    FOREIGN KEY (nis) REFERENCES siswa(nis),
    FOREIGN KEY (admin_id) REFERENCES admin(id)
);

In [9]:
INSERT INTO jurusan(kode_jurusan, deskripsi) VALUES
('RPL', 'Rekayasa Perangkat Lunak'),
('TKRO', 'Teknik Kendaraan Ringan Otomotif'),
('TP', 'Teknik Permesinan');

In [16]:
INSERT INTO spp(tahun,nominal) VALUES
('2020', '150000'),
('2021', '175000'),
('2022', '200000'),
('2023', '225000'),
('2024', '250000');

In [11]:
INSERT INTO kelas(kode_kelas,tingkat,jurusan_id) VALUES
('X-RPL', '10', '1'),
('XI-RPL', '11', '1'),
('XII-RPL', '12', '1'),
('X-TKRO-1', '10', '2'),
('X-TKRO-2', '10', '2'),
('XI-TKRO-1', '11', '2'),
('XI-TKRO-2', '11', '2'),
('XII-TKRO-1', '12', '2'),
('XII-TKRO-2', '12', '2'),
('X-TP', '10', '3'),
('XI-TP', '11', '3'),
('XII-TP', '12', '3');

In [17]:
INSERT INTO siswa(nis,nama_lengkap,tanggal_lahir,jenis_kelamin,alamat,no_hp,kelas_id,spp_id) VALUES  
('22001001', 'Santi Rima', '2000/06/18', 'l', 'Ciwangi', '08121234495', '12', '3'),
('22001002', 'Satria Melati', '2000/07/04', 'p', 'Cimanuk', '08121234404', '3', '3'),
('22001003', 'Santi Hana', '2000/05/04', 'l', 'Citalang', '08121234471', '11', '4'),
('22001004', 'Satria Melati', '2000/08/14', 'p', 'Cimanuk', '08121234417', '10', '5'),
('22001005', 'Raden Sinta', '2000/01/12', 'l', 'Ciseureuh', '08121234472', '1', '5'),
('22001006', 'Santi Lasmin', '2000/01/11', 'p', 'Cimaung', '08121234450', '4', '5'),
('22001007', 'Mumun Melati', '2000/11/23', 'p', 'Cimaung', '08121234486', '1', '5'),
('22001008', 'Santi Kenzo', '2000/01/19', 'p', 'Ciseureuh', '08121234406', '8', '3'),
('22001009', 'Mumun Lasmi', '2000/11/06', 'p', 'Ciseureuh', '08121234457', '11', '4'),
('22001010', 'Mala Lasmi', '2000/11/24', 'p', 'Citalang', '08121234499', '11', '4');

In [13]:
INSERT INTO admin(nama_lengkap, alamat, no_hp, username, password) VALUES
('Ahmad Saefudin', 'Cilegong', '081212342781', 'ahmadsaefudin', 'ahma1234'),
('Winarti', 'Cibatu', '081212342774', 'winarti', 'wina1234'),
('Setiawati', 'Citalang', '081212342796', 'setiawati', 'seti1234'),
('Hana Sinta', 'Cimaung', '081212342796', 'hanasinta', 'hana1234');

In [18]:
INSERT INTO `Pembayaran` (no_transaksi, tanggal, nis, bulan_tagihan, tahun_tagihan, admin_id) VALUES
	('SPP-2024-001', '2024-01-30', '22001001', '1', '2024', '1'),
	('SPP-2024-002', '2024-01-19', '22001002', '1', '2024', '3'),
	('SPP-2024-003', '2024-01-15', '22001003', '1', '2024', '4'),
	('SPP-2024-004', '2024-01-18', '22001004', '1', '2024', '1'),
	('SPP-2024-005', '2024-01-23', '22001005', '1', '2024', '1'),
	('SPP-2024-006', '2024-01-18', '22001006', '1', '2024', '1'),
	('SPP-2024-007', '2024-01-18', '22001007', '1', '2024', '4'),
	('SPP-2024-008', '2024-01-19', '22001010', '1', '2024', '4'),
	('SPP-2024-009', '2024-02-23', '22001003', '2', '2024', '3'),
	('SPP-2024-010', '2024-02-15', '22001004', '2', '2024', '3'),
	('SPP-2024-011', '2024-02-09', '22001005', '2', '2024', '1'),
	('SPP-2024-012', '2024-02-25', '22001006', '2', '2024', '2'),
	('SPP-2024-013', '2024-02-09', '22001007', '2', '2024', '1'),
	('SPP-2024-014', '2024-02-06', '22001008', '2', '2024', '2'),
	('SPP-2024-015', '2024-02-01', '22001009', '2', '2024', '4'),
	('SPP-2024-016', '2024-02-17', '22001010', '2', '2024', '4'),
	('SPP-2024-017', '2024-03-07', '22001001', '3', '2024', '4'),
	('SPP-2024-018', '2024-03-28', '22001002', '3', '2024', '4'),
	('SPP-2024-019', '2024-03-08', '22001003', '3', '2024', '4'),
	('SPP-2024-020', '2024-03-05', '22001004', '3', '2024', '1'),
	('SPP-2024-021', '2024-03-18', '22001005', '3', '2024', '1'),
	('SPP-2024-022', '2024-03-10', '22001006', '3', '2024', '3'),
	('SPP-2024-023', '2024-03-26', '22001007', '3', '2024', '1'),
	('SPP-2024-024', '2024-03-08', '22001008', '3', '2024', '1'),
	('SPP-2024-025', '2024-03-25', '22001009', '3', '2024', '1'),
	('SPP-2024-026', '2024-03-02', '22001010', '3', '2024', '1'),
	('SPP-2024-027', '2024-04-06', '22001001', '4', '2024', '1'),
	('SPP-2024-028', '2024-04-15', '22001002', '4', '2024', '4'),
	('SPP-2024-029', '2024-04-29', '22001003', '4', '2024', '2'),
	('SPP-2024-030', '2024-04-27', '22001004', '4', '2024', '3'),
	('SPP-2024-031', '2024-04-15', '22001005', '4', '2024', '4'),
	('SPP-2024-032', '2024-04-16', '22001006', '4', '2024', '1'),
	('SPP-2024-033', '2024-04-30', '22001007', '4', '2024', '3'),
	('SPP-2024-034', '2024-04-28', '22001008', '4', '2024', '4'),
	('SPP-2024-035', '2024-04-02', '22001009', '4', '2024', '1'),
	('SPP-2024-036', '2024-04-21', '22001010', '4', '2024', '4'),
	('SPP-2024-037', '2024-05-25', '22001001', '5', '2024', '4'),
	('SPP-2024-038', '2024-05-16', '22001002', '5', '2024', '4'),
	('SPP-2024-039', '2024-05-03', '22001005', '5', '2024', '1'),
	('SPP-2024-040', '2024-05-05', '22001006', '5', '2024', '1'),
	('SPP-2024-041', '2024-05-22', '22001007', '5', '2024', '4'),
	('SPP-2024-042', '2024-05-05', '22001008', '5', '2024', '4'),
	('SPP-2024-043', '2024-05-07', '22001009', '5', '2024', '3'),
	('SPP-2024-044', '2024-05-23', '22001010', '5', '2024', '1'),
	('SPP-2024-045', '2024-06-16', '22001004', '6', '2024', '2'),
	('SPP-2024-046', '2024-06-05', '22001005', '6', '2024', '3'),
	('SPP-2024-047', '2024-06-09', '22001006', '6', '2024', '2'),
	('SPP-2024-048', '2024-06-24', '22001007', '6', '2024', '4'),
	('SPP-2024-049', '2024-06-23', '22001008', '6', '2024', '1'),
	('SPP-2024-050', '2024-06-04', '22001009', '6', '2024', '4');

In [30]:
SELECT siswa.*, spp.tahun, pembayaran.*
FROM siswa
LEFT JOIN spp ON spp.id = siswa.spp_id
LEFT JOIN pembayaran ON pembayaran.nis = siswa.nis
WHERE siswa.nis = '22001005' AND pembayaran.tahun_tagihan = '2024';

nis,nama_lengkap,tanggal_lahir,jenis_kelamin,alamat,no_hp,kelas_id,spp_id,tahun,no_transaksi,tanggal,nis,bulan_tagihan,tahun_tagihan,admin_id
22001005,Raden Sinta,2000-01-12,l,Ciseureuh,08121234472,1,5,2024,SPP-2024-005,2024-01-23,22001005,1,2024,1
22001005,Raden Sinta,2000-01-12,l,Ciseureuh,08121234472,1,5,2024,SPP-2024-011,2024-02-09,22001005,2,2024,1
22001005,Raden Sinta,2000-01-12,l,Ciseureuh,08121234472,1,5,2024,SPP-2024-021,2024-03-18,22001005,3,2024,1
22001005,Raden Sinta,2000-01-12,l,Ciseureuh,08121234472,1,5,2024,SPP-2024-031,2024-04-15,22001005,4,2024,4
22001005,Raden Sinta,2000-01-12,l,Ciseureuh,08121234472,1,5,2024,SPP-2024-039,2024-05-03,22001005,5,2024,1
22001005,Raden Sinta,2000-01-12,l,Ciseureuh,08121234472,1,5,2024,SPP-2024-046,2024-06-05,22001005,6,2024,3