In [2]:
CREATE DATABASE uprak_riyan_darmawan;

In [3]:
USE uprak_riyan_darmawan;

In [7]:
CREATE TABLE jurusan(
    id INT PRIMARY KEY AUTO_INCREMENT,
    kode_jurusan VARCHAR(10),
    deskripsi VARCHAR(50)
);

: 1050 (42S01): Table 'jurusan' already exists

In [13]:
CREATE TABLE kelas(
    id INT PRIMARY KEY AUTO_INCREMENT,
    kode_kelas VARCHAR(10),
    tingkat ENUM('10','11','12'),
    jurusan_id INT,
    FOREIGN KEY (jurusan_id) REFERENCES jurusan(id) ON UPDATE CASCADE ON DELETE CASCADE
);

In [11]:
CREATE TABLE spp(
    id INT PRIMARY KEY AUTO_INCREMENT,
    tahun YEAR,
    nominal BIGINT
);

In [14]:
CREATE TABLE siswa(
    nis BIGINT PRIMARY KEY,
    nama_lengkap VARCHAR(50),
    tanggal_lahir DATE,
    jenis_kelamin ENUM('l', 'p'),
    alamat VARCHAR(100),
    no_hp VARCHAR(13),
    kelas_id INT,
    spp_id INT,
    FOREIGN KEY (kelas_id) REFERENCES kelas(id) ON UPDATE CASCADE ON DELETE CASCADE,
    FOREIGN KEY (spp_id) REFERENCES spp(id) ON UPDATE CASCADE ON DELETE CASCADE
);

In [15]:
CREATE TABLE admin(
    id INT PRIMARY KEY AUTO_INCREMENT,
    nama_lengkap VARCHAR(50),
    alamat VARCHAR(100),
    no_hp VARCHAR(13),
    username VARCHAR(50),
    password VARCHAR(255)
);

In [16]:
CREATE TABLE pembayaran(
    no_transaksi VARCHAR(20) PRIMARY KEY,
    tanggal DATE,
    nis BIGINT,
    bulan_tagihan INT,
    tahun_tagihan YEAR,
    admin_id INT,
    FOREIGN KEY (nis) REFERENCES siswa(nis) ON UPDATE CASCADE ON DELETE CASCADE,
    FOREIGN KEY (admin_id) REFERENCES admin(id) ON UPDATE CASCADE ON DELETE CASCADE
);

In [26]:
INSERT INTO jurusan(kode_jurusan, deskripsi) VALUES
('RPL', 'Rekayasa Perangkat Lunak'),
('TKRO', 'Teknik Kendaraan Ringan Otomotif'),
('TP', 'Teknik Permesinan');

In [18]:
INSERT INTO spp(tahun,nominal) VALUES
('2020', '150000'),
('2021', '175000'),
('2022', '200000'),
('2023', '225000'),
('2024', '250000');

In [27]:
INSERT INTO kelas(kode_kelas,tingkat,jurusan_id) VALUES
('X-RPL', '10', '1'),
('XI-RPL', '11', '1'),
('XII-RPL', '12', '1'),
('X-TKRO-1', '10', '2'),
('X-TKRO-2', '10', '2'),
('XI-TKRO-1', '11', '2'),
('XI-TKRO-2', '11', '2'),
('XII-TKRO-1', '12', '2'),
('XII-TKRO-2', '12', '2'),
('X-TP', '10', '3'),
('XI-TP', '11', '3'),
('XII-TP', '12', '3');

In [28]:
INSERT INTO siswa(nis,nama_lengkap,tanggal_lahir,jenis_kelamin,alamat,no_hp,kelas_id,spp_id) VALUES  
('22001001', 'Santi Rima', '2000/06/18', 'l', 'Ciwangi', '08121234495', '12', '3'),
('22001002', 'Satria Melati', '2000/07/04', 'p', 'Cimanuk', '08121234404', '3', '3'),
('22001003', 'Santi Hana', '2000/05/04', 'l', 'Citalang', '08121234471', '11', '4'),
('22001004', 'Satria Melati', '2000/08/14', 'p', 'Cimanuk', '08121234417', '10', '5'),
('22001005', 'Raden Sinta', '2000/01/12', 'l', 'Ciseureuh', '08121234472', '1', '5'),
('22001006', 'Santi Lasmin', '2000/01/11', 'p', 'Cimaung', '08121234450', '4', '5'),
('22001007', 'Mumun Melati', '2000/11/23', 'p', 'Cimaung', '08121234486', '1', '5'),
('22001008', 'Santi Kenzo', '2000/01/19', 'p', 'Ciseureuh', '08121234406', '8', '3'),
('22001009', 'Mumun Lasmi', '2000/11/06', 'p', 'Ciseureuh', '08121234457', '11', '4'),
('22001010', 'Mala Lasmi', '2000/11/24', 'p', 'Citalang', '08121234499', '11', '4');

In [29]:
INSERT INTO admin(nama_lengkap, alamat, no_hp, username, password) VALUES
('Ahmad Saefudin', 'Cilegong', '081212342781', 'ahmadsaefudin', 'ahma1234'),
('Winarti', 'Cibatu', '081212342774', 'winarti', 'wina1234'),
('Setiawati', 'Citalang', '081212342796', 'setiawati', 'seti1234'),
('Hana Sinta', 'Cimaung', '081212342796', 'hanasinta', 'hana1234');